<h1>Recipes</h1>
<p>View existing Recipes data, insert, update, and delete recipes.</p>
<p>Select recipes based on: Genres, Ingredients, or User.</p>

<div class="container">
    <button type="button" class="collapsible"><h3>Insert Recipe</h3></button>
    <div class="container_content">
        <form id="form_recipes_insert">
            <label for="user_id">User ID:</label>
            <select name="user_id">
                {{#each user_id_to_name}}
                <option value={{@key}}>{{this}}</option>
                {{/each}}
            </select>
            <br>
            <label for="food_item_id">FoodItem ID:</label>
            <select name="food_item_id">
                {{#each food_item_id_to_name}}
                <option value={{@key}}>{{this}}</option>
                {{/each}}
            </select>
            <br>
            <label for="quantity">Quantity:</label>
            <input type="text" name="quantity"><br>
            <label for="prep_time">Preptime:</label>
            <input type="text" name="prep_time"><br>
            <input type="submit" value="INSERT new Recipe">
        </form>
    </div>
</div>

<div class="container">
    <button type="button" class="collapsible"><h3>Update Recipe</h3></button>
    <div class="container_content">
        <form id="form_recipes_update">
            <label for="recipe_id">Recipe ID:</label>
            <select name="recipe_id">
                {{#each recipe_id_to_name}}
                <option value={{@key}}>{{this}}</option>
                {{/each}}
            </select>
            <br>
            <label for="user_id">User ID:</label>
            <select name="user_id">
                {{#each user_id_to_name}}
                <option value={{@key}}>{{this}}</option>
                {{/each}}
            </select>
            <br>
            <label for="food_item_id">FoodItem ID:</label>
            <select name="food_item_id">
                {{#each food_item_id_to_name}}
                <option value={{@key}}>{{this}}</option>
                {{/each}}
            </select>
            <br>
            <label for="quantity">Quantity:</label>
            <input type="text" name="quantity"><br>
            <label for="prep_time">Preptime:</label>
            <input type="text" name="prep_time"><br>
            <input type="submit" value="UPDATE Recipe">
        </form>
    </div>
</div>

<div class="container">
    <button type="button" class="collapsible"><h3>Delete Recipe</h3></button>
    <div class="container_content">
        <form id="form_recipes_delete">
            <label for="recipe_id">Recipe ID:</label>
            <select name="recipe_id">
                {{#each recipe_id_to_name}}
                <option value={{@key}}>{{this}}</option>
                {{/each}}
            </select>
            <br>
            <input type="submit" value="DELETE Recipe">
        </form>
    </div>
</div>

{{!-- Testing Delete Dropdown box --}}
{{!-- <div class="container">
    <h3>Delete Recipe</h3>
    <form id="form_recipes_delete">
        <label for="recipe_id">Recipe ID:</label>
        <select name="recipe_id">
            {{#each Recipes}}
            <option value="{{recipe_id}}">{{name""</option>
        </select><br>
    </form>
</div> --}}

<div class="container">
    <button type="button" class="collapsible"><h3>Select Recipes in Genre</h3></button>
    <div class="container_content">
        <form id="form_recipes_select_genre">
            <label for="genre_id">Genre ID:</label>
            <select name="genre_id">
                {{#each genre_id_to_name}}
                <option value={{@key}}>{{this}}</option>
                {{/each}}
            </select>
            <br>
            <input type="submit" value="SELECT Recipes in Genre">
        </form>
    </div>
</div>

<div class="container">
    <button type="button" class="collapsible"><h3>Select Recipes with FoodItem</h3></button>
    <div class="container_content">
        <form id="form_recipes_select_food_item">
            <label for="food_item_id">FoodItem ID:</label>
            <select name="food_item_id">
                {{#each food_item_id_to_name}}
                <option value={{@key}}>{{this}}</option>
                {{/each}}
            </select>
            <br>
            <input type="submit" value="SELECT Recipes with FoodItem">
        </form>
    </div>
</div>

<div class="container">
    <button type="button" class="collapsible"><h3>Select Recipes by User</h3></button>
    <div class="container_content">
        <form id="form_recipes_select_user">
            <label for="user_id">User ID:</label>
            <select name="user_id">
                {{#each user_id_to_name}}
                <option value={{@key}}>{{this}}</option>
                {{/each}}
            </select>
            <br>
            <input type="submit" value="SELECT Recipes by User">
        </form>
    </div>
</div>
